        h2 {
            border: 3px solid;
            transition-property: font-size;
            transition-duration: .5s;
            transition-timing-function: ease-out;
        }
        h2:hover {
            background-color: aquamarine;
            font-size: 50px;
        }
        
        .one-hover {
            background-color: blue;
            width: 500px;
            height: 100px;
            transition: 3s;
        }
        .one-hover:hover {
            background-color: red;
            width: 1000px;
        }
        footer {
            border:2px dashed;
            transition-property: font-size;
            transition: 4s;
            transition-timing-function: ease-out;
            transition-delay: .2s;
        }
        footer:hover {
            background-color: lightgreen;
            font-size: 30px;
        }
        
        h1 {
            font-style: italic;
            font-size: 100px;
            font-weight: bold;
            background-color: aqua;
        }

        blockquote {
            font-style: italic;
            font-size: 50px;

        }